getAllPermissions:
  get: # /permissions
    tags:
      - role
    summary: Get all permissions
    description: ''
    security:
      - BearerAuth: []
    responses:
      '200':
        description: successful operation
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    $ref: './schemas.yml#/permission'
      '401':
        $ref: '../../schemas/response-error.yml#/401'
      '403':
        $ref: '../../schemas/response-error.yml#/403'
      '404':
        $ref: '../../schemas/response-error.yml#/404'
      '412':
        $ref: '../../schemas/response-error.yml#/412'
      '500':
        $ref: '../../schemas/response-error.yml#/500'
